body {
    background-color: black;
    color: #00aa00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    font-family : monospace;
}

h1 {
    margin: 0;
}

a {
    color: #00aa00;
    text-decoration: none;
}